@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --white-new: #E8E3D1;
  --white: #FFFFFF;
  --main: #EBC747;
  --main-new: #96874F;
  --black: #1C170D;

  --container-lg: 80%;
  --container-md: 90%;

  --transition: all 500ms ease;

}


/*-----------------------------------*\
  GENERAL STYLES
\*-----------------------------------*/

body {
  font-family: 'Montserrat';
  color: var(--black);
  line-height: 1.6;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: var(--container-lg);
  max-width: 1920px;
  margin: 0 auto;
}

section {
  padding: 4rem 1rem;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.btn {
  color: var(--black);
  width: fit-content;
  margin: 0 auto;
  padding: 0.6rem 0.8rem;
  background: var(--main);
  border-radius: 0.5rem;
  border: 2px solid var(--main);
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  border-color: var(--main);
  font-weight: bolder;
}

/*-----------------------------------*\
  NAVBAR STYLES
\*-----------------------------------*/

.toggle-btn {
  display: none;
}

nav {
  height: 5rem;
  width: 100dvw;
  z-index: 1;
  border-bottom: 1px solid var(--black);
  padding: 2rem 4rem;
}

.logo {
  width: 12rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  gap: 2rem;
  margin-left: 6rem;
 
}

.nav-menu a {
  color: var(--black);
  cursor: pointer;
  transition: var(--transition);
}

.nav-menu a:hover {
  border-bottom: 2px solid var(--main);
}

.nav-icons {
  display: flex;
  gap: 1.5rem;
}

.nav-icons svg {
  width: 2rem;
  height: 2rem;
  background: whitesmoke;
  padding: 0.5rem;
  border-radius: 0.3rem;
}


/*-----------------------------------*\
  HERO STYLES
\*-----------------------------------*/

.hero-container {
  position: relative;
}

.content {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}

.content h1, .content p {
  text-align: center;
  margin-bottom: 1.5rem;
}

.content a {
  display: flex;
  align-self: center;
}

/*-----------------------------------*\
  MEMBER STYLES
\*-----------------------------------*/

.menber {
  border: 1px solid var(--main-new);
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.member-content {
  margin-top: 0.7rem;
  display: flex;
  gap: 3rem;
}

.member-content p {
  color: var(--main-new);
}

/*-----------------------------------*\
  EVENTS STYLES
\*-----------------------------------*/

.events-container h2 {
  margin-bottom: 1.5rem;
}

.events-container .events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.events img {
  border-radius: 0.5rem;
  margin-bottom: 1.3rem;
}

.events p {
  color: var(--main-new);
  margin-top: 0.4rem;
}

/*-----------------------------------*\
  COLLECTIONS STYLES
\*-----------------------------------*/

.collect-top h1, .collect-top p, .collect-top a {
  margin-bottom: 1.2rem;
}

.collect .collections {
  margin-top: 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.collect .collections h4 {
  margin-top: 1rem;
}

/*-----------------------------------*\
  VISITORS STYLES
\*-----------------------------------*/

.vis h2 {
  margin-bottom: 1.5rem;
}

.vis .visitors {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.visitors .visitor {
  display: flex;
  justify-content: space-between;
}

.visitors h4 {
  color: var(--main-new);
  font-weight: 500;
}

/*-----------------------------------*\
  FOOTER STYLES
\*-----------------------------------*/

.footer {
  color: var(--main-new);
}

.footer .top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.footer .top a {
  color: var(--main-new);
  cursor: pointer;
  transition: var(--transition);
}

.footer .top a:hover {
  transform: scale(1.1);
  color: var(--main);
  font-weight: bolder;
}

.footer .down {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.footer .down svg {
  font-size: 1.5rem;
  font-weight: bolder;
}

/*-----------------------------------*\
  RESPONSIVE STYLES
\*-----------------------------------*/

@media screen and (max-width: 1000px) {
  section {
    padding: 2rem 1rem;
  }
    
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }

  .container {
    width: var(--container-md);
  }

  /* nav {
    display: none;
  } */

  .member-content {
    flex-direction: column;
    gap: 1rem;
  }

  .member-content a {
    margin: 0;
  }

  .collect .collections {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 820px) {

  
  .nav-icons {
    display: none;
  }

  .nav-container {
    position: relative;
  }

  .nav-menu {
    background: var(--main-new);
    position: absolute;
    top: 5rem;
    right: 0;
    flex-direction: column;
    gap: 0;
  }

  .nav-menu li {
    width: 100%;
    box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.3);
  }

  .nav-menu li a {
    display: block;
    background: var(--white);
    padding: 0.85rem 2rem;
  }

  .toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    transition: var(--transition);
  }
}


@media screen and (max-width: 700px) {
  .visitors .visitor {
    flex-direction: column;
  }

  .events-container .events {
    grid-template-columns: 1fr;
  }

  .collect .collections {
    grid-template-columns: 1fr;
    gap: 2rem;
  }


} 